# Base de datos
POSTGRES_DB=sofiacouture
POSTGRES_USER=sofiauser
POSTGRES_PASSWORD=sofia_dev_password
POSTGRES_INITDB_ARGS=--auth-host=trust --auth-local=trust

# Backend
BACKEND_PORT=8080
JWT_SECRET=dev_jwt_secret_change_me_123456789
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
APP_UPLOAD_DIR=/uploads
APP_BASE_URL=https://api.tu-dominio.com
APP_FRONTEND_URL=https://tu-dominio.com
APP_MAIL_FROM=Sofia Couture EC <no-reply@tu-dominio.com>
ADMIN_EMAIL=admin@tu-dominio.com
SPRING_MAIL_USERNAME=tu_correo_smtp
SPRING_MAIL_PASSWORD=tu_password_smtp
RESEND_API_KEY=
RESEND_API_URL=https://api.resend.com/emails

# Payphone
PAYPHONE_TOKEN=Bearer cambia_este_token
PAYPHONE_STORE_ID=tu-store-id
PAYPHONE_RESPONSE_BASE_URL=https://tu-dominio.com

# Frontend
FRONTEND_PORT=80
FRONTEND_BACKEND_URL=http://backend:8080
